p{
    color: rgb(212, 231, 248);
}
#contactForm{
    background-color: rgb(198, 224, 246);
}
.numImp{
    color:aqua;
}
#divTxt{
    color:white;
}
h1{
    font-family: "consolas", "courier-new";
    color: #00ff1a;
    font-weight: bold;

    border-style:outset;
    border-width:5px;
    border-color:black;
    border-radius:10px;
    padding:5px;
}
#fname{
    color:white;
}
#lname{
    color:white;
}
#email{
    color:white;
}
#number{
    color:white;
}
#fname{
    color:white;
}
#schedule{
    color:white;
}