p{
    color: rgb(255, 255, 255);
}
#contactForm{
    background-color: rgb(54, 54, 54);

    border-style:solid;
    border-width:5px;
    border-color:rgb(66, 66, 66);
    border-radius:10px;
}
#divTxt{
    color:rgb(18, 251, 37);
    padding:2px;
}
#titleText{
    font-family: "consolas", "courier-new";
    color: #00ff1a;
    font-weight: bold;

    border-style:outset;
    border-width:5px;
    border-color:black;
    border-radius:10px;
    padding:5px;
}
label{
    color:white;
}
#scheduleType{
    background-color: black;
    border-color: rgb(89, 89, 89);
    color:#00ff1a;
}
ul{
    color:white;
}
li{
    color:#00ff1a;
}
#projects{
    font-family: "consolas", "courier-new";
    color: #00ff1a;
    font-weight: bold;
}